/* SegmentedActions Container */
.segmented-actions {
    background-color: var(--text-onBackground-10, rgba(251, 251, 254, 0.1));
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 494px;
    min-width: 376px;
    width: 494px;
    padding: 16px 32px 8px 32px;
    border-radius: 8px;
    overflow: hidden;
}

/* Individual Action Item */
.segmented-actions-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
