.student-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.student-info__avatar {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: var(--color-brand-alternate);
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.student-info__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.student-info__name {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-brand-tertiary-100);
}
