.status-root {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-sm);
  isolation: isolate;
}

/* Primary Variant */
.status-root-primary {
  gap: var(--space-1);
  justify-content: center;
  padding: var(--space-1) var(--space-2);
}

.status-root-primary .status-root-background {
  position: absolute;
  inset: 0;
  background-color: var(--color-utility-increase);
  z-index: 1;
}

.status-root-primary .status-root-icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex-shrink: 0;
  z-index: 3;
  width: 24px;
  height: 24px;
}

.status-root-primary .status-root-icon-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.status-root-primary .status-root-text {
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}

.status-root-text-primary {
  font-family: var(--font-complementary);
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-text-strong);
  font-size: var(--text-size-3);
  text-align: center;
  white-space: nowrap;
}

/* Secondary Variant */
.status-root-secondary {
  gap: 6px;
}

.status-root-secondary .status-root-bullet {
  background-color: var(--color-badge-on-track-bg);
  border: 1px solid var(--color-badge-on-track-stroke);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex-shrink: 0;
  z-index: 2;
  width: 24px;
  height: 24px;
}

.status-root-secondary .status-root-icon-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
  align-items: center;
  justify-content: center;
  padding: 2px;
  z-index: 2;
}

.status-root-secondary .status-root-icon-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.status-root-secondary .status-root-icon-color {
  position: absolute;
  background-color: var(--color-badge-on-track);
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.status-root-text-secondary {
  font-family: var(--font-complementary);
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-badge-on-track);
  font-size: var(--text-size-3);
  text-align: center;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

